<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button class="btn_agregar" color="primary" (click)="openNewTaskForm()">Agregar Producto <ion-icon slot="icon-only" name="add"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Lista de Productos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let product of products; trackBy: trackBy">
      <ion-thumbnail slot="start">
        <img [src]="product.image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
      </ion-label>
      <ion-button color="danger" (click)="deleteTask(product._id)">Eliminar</ion-button>
      <ion-icon name="trash-bin-outline"></ion-icon>
      <ion-button color="primary" (click)="editTask(product)">Editar</ion-button>
      <ion-icon name="create-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen]="showNewTaskForm" (didDismiss)="closeNewTaskForm()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Nuevo Producto</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeNewTaskForm()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <form [formGroup]="newTaskForm">
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="newTaskForm.get('name')?.invalid && newTaskForm.get('name')?.touched">
            <small *ngIf="newTaskForm.get('name')?.hasError('required')">* El nombre es obligatorio</small>
          </ion-text>
          <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-input formControlName="description"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="newTaskForm.get('description')?.invalid && newTaskForm.get('description')?.touched">
            <small *ngIf="newTaskForm.get('description')?.hasError('required')">* La descripción es obligatoria</small>
          </ion-text>
          <ion-item>
            <ion-label position="floating">URL de la Imagen</ion-label>
            <ion-input formControlName="image"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="newTaskForm.get('image')?.invalid && newTaskForm.get('image')?.touched">
            <small *ngIf="newTaskForm.get('image')?.hasError('required')">* La URL de la imagen es obligatoria</small>
          </ion-text>
          <ion-item>
            <ion-label position="floating">Categoría</ion-label>
            <ion-input formControlName="category"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="newTaskForm.get('category')?.invalid && newTaskForm.get('category')?.touched">
            <small *ngIf="newTaskForm.get('category')?.hasError('required')">* La categoría es obligatoria</small>
          </ion-text>
          <ion-item>
            <ion-label position="floating">Precio</ion-label>
            <ion-input formControlName="price" type="number"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="newTaskForm.get('price')?.invalid && newTaskForm.get('price')?.touched">
            <small *ngIf="newTaskForm.get('price')?.hasError('required')">* El precio es obligatorio</small>
            <small *ngIf="newTaskForm.get('price')?.hasError('min')">* El precio debe ser mayor o igual a 0</small>
          </ion-text>
          <ion-item>
            <ion-label position="floating">Activo</ion-label>
            <ion-toggle formControlName="active"></ion-toggle>
          </ion-item>
          <ion-button class="btn_guardar" expand="medium" (click)="addTask()">Guardar</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>