<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
</ion-content>

<ion-content>
  <div class="card-container">
    <ion-card>
      <ion-icon name="shield-checkmark-outline" class="icon"></ion-icon>
      <ion-card-header>
      <ion-card-title class="center-text">Evaluación sumativa</ion-card-title>
      <p class="center-text">
        UNIDAD Nº 1 .
      </p>
      </ion-card-header>
      <ion-card-content class="content-button">
      <ion-button [routerLink]="['/login']">Login</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <p class="center-text">Desarrollado por: <strong>Karla Aqueveque</strong></p>
    </ion-title>
  </ion-toolbar>